In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('test.xlsx')

In [3]:
df1

        Fruit   Color  Weight
0      Banana  Yellow     250
1       Lemon   Green       4
2  Kiwi Fruit  Brown       10