In [1]:
import pymysql
import pandas as pd

In [9]:
db = pymysql.connect("localhost","root","mysql123#$","test_db")

In [10]:
db.server_status

0

In [13]:
df1 = pd.read_sql_query('select * from fruits',db)

In [14]:
df1

   id     name   color  taste  weight
0   1   Banana  Yellow  Sweet     250
1   2    Mango   Green   Sour     250
2   3  Pinaple  Yellow   sour     500

In [ ]:
Matic creation r