In [1]:
import numpy as np
import pandas as pd

In [2]:
    A B C
    1 2 a
    3 4 b
    5 6 c

SyntaxError: invalid syntax (<ipython-input-2-cadb81ee2a15>, line 1)

In [3]:
df1 = pd.read_clipboard()

In [4]:
df1

   A  B  C
0  1  2  a
1  3  4  b
2  5  6  c

In [13]:
df2 = pd.DataFrame(np.random.rand(5,3))

In [14]:
df2

          0         1         2
0  0.938290  0.514891  0.155305
1  0.061186  0.195259  0.553204
2  0.677015  0.305889  0.476721
3  0.023100  0.802123  0.677695
4  0.981445  0.871879  0.560432

In [15]:
df2.to_clipboard()

In [ ]:
	0	1	2
0	0.9382895783337508	0.514890507918616	0.15530456001256931
1	0.06118589442698508	0.19525944398912198	0.5532038863411706
2	0.6770147450117262	0.30588860708042864	0.47672096877027925
3	0.02310014874967148	0.8021226997261325	0.677694850042759
4	0.9814448447927328	0.8718792772738816	0.5604316741805997