In [1]:
import pymysql

In [22]:
db = pymysql.connect("localhost","root","mysql123#$","test_db")
cursor = db.cursor()

try:
    cursor.execute("select * from fruits")
    resultset = cursor.fetchall()

    for row in resultset:
        name =row[1]
        colour = row[2]
        print("Name : {} , Colour : {}".format(name,colour))

    print("Records fetch sucessfully")
except:
    print("Records were not fetch")
db.close()

Name : Banana , Colour : Yellow
Name : Mango , Colour : Green
Name : Pinaple , Colour : Yellow
Records fetch sucessfully

In [9]:
import pandas as pd

In [5]:
db

In [12]:
db = pymysql.connect("localhost","root","mysql123#$","test_db")

In [13]:
df1 = pd.read_sql_query("select * from fruits",db)

In [14]:
df1

   id    name   color  taste  weight
0   1  Banana  Yellow  Sweet     250
1   2   Mango   Green   Sour     250

In [21]:
db = pymysql.connect("localhost","root","mysql123#$","test_db")
cursor = db.cursor()

try:
    cursor.execute("""insert into fruits (id,name,color,taste,weight) values ('3','Pinaple','Yellow','sour',500)""")
    db.commit()
    print("Records fetch sucessfully")
except:
    db.rollback()
    print("Records were not fetch")
db.close()

Records fetch sucessfully